

  .navbar{
    background-color: transparent;
  }
  
  a{
    font-size: 14pt;
    font-family:anisette-petite,sans-serif;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right:30px;
    color:black;
    
  }
  
  /* visited link */
  .menu a:visited {
    color:#454545
  }
  
  /* mouse over link */
  .menu a:hover {
    color:#454545
    
  }
  
  /* selected link */
  .menu a:active {
    color:#454545
  }
  
h1{
    color:black;
    font-size: 36pt;
    font-family:anisette-petite,sans-serif;
    font-weight: 700;
  }

.heroContainer{
    display: flex;
    background-image: url(/Images/HeroIMGfade.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.textBox{
    width: 30%;
    margin: 10%;
}
.heroContainer img{
    margin:5% ;
}
