

h1{
    color:black;
    font-size: 36pt;
    font-family:anisette-petite,sans-serif;
    font-weight: 700;
  }

.heroContainer{
    display: flex;
    background-image: url(/Images/HeroIMGfade.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.textBox{
    width: 30%;
    margin: 10%;
}
.heroContainer img{
    margin:5% ;
}
.jumbotron{
    background-color: #E4D2C8;
    display: flex;
    padding: 6%;
    margin-left: 15%;
    margin-right: 15%;
}

.left{

}
.right{
    padding-left:6%;
}